.bg {
  background-image: linear-gradient(black, #501c58, black);
  overflow: hidden;
  position: relative;
}
.btn{
  background-color: aliceblue;
  color:black;
  text-transform: capitalize; 
float:right;
  border-radius: 100px;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
.square{
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
color:white;
  margin-top: 0%;
margin-left: 5%;
text-align: left;
min-width: none;
max-width: 40vw;
padding:3%;
  padding-bottom: 2%;
border-width:0px;
    margin-bottom: 10%;
    padding-right:2%;

}
.square.slide {                  
  visibility: visible;                  
  animation: square 1s;
}
.square::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}


@media (prefers-reduced-motion: no-preference) {
  .square {
    animation-name:wipe-enter;
    animation-duration: 1s;
  }
}


